{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url login %}" autocomplete="off">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-error">
        {{ form.errors }}
    </div>
    {% endif %}
    <label for="id_username">Kullanıcı Adı</label>
    {{ form.username }}
    <label for="id_password">Şifre</label>
    {{ form.password }}

    <input class="btn btn-primary" type="submit" value="Giriş">
    <input type="hidden" name="next" value="/" />
</form>

{% endblock %}