{%  extends "base.html" %}
{% load defter_filters %}
{% block content %}
    <form class="form-inline" method="get" action="{% url company-query %}">
        <label for="id_start_date">Başlangıç</label>
        <input class="span2 datepicker" type="text" id="id_start_date"  name="start_date" value="{{ start_date|date:"d/m/Y" }}" />
        <label for="id_end_date">Bitiş</label>
        <input class="span2 datepicker" type="text" id="id_end_date" name="end_date" value="{{ end_date|date:"d/m/Y" }}" />
        <button class="btn btn-primary" type="submit">Filtrele</button>
    </form>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <td>Kullanıcı Adı</td>
            <td>Borç Toplamı</td>
            <td>Alacak Toplamı</td>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
            <tr>
                <td>{{ line.owner }}</td>
                <td>{{ line.sum_borc|tl }}</td>
                <td>{{ line.sum_alacak|tl }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
