{% extends 'base.html' %}
{% load defter_filters %}
{% block content %}
    <script>
    function send() {
        var start = $("#id_start_date").val();
        var end = $("#id_end_date").val();
        window.location.replace("?start_date=" + start + "&end_date=" + end);
    }
    </script>

    <div class="row">

        <div class="row">
            <a class="btn" href="{% url company-line-create company.id %}">Yeni Giriş</a>
            <a class="btn" href="{% url company-edit company.id %}">Şirket Bilgilerini Güncelle</a>
            Başlangıç
            <input class="span2 datepicker" type="text" id="id_start_date"  name="start_date" value="{{ start_date|date:"d/m/Y" }}" />
            <span>Bitiş</span>
            <input class="span2 datepicker" type="text" id="id_end_date" name="end_date" value="{{ end_date|date:"d/m/Y" }}" />
            <button class="btn btn-primary" type="submit" onclick="send()">Listele</button>
        </div>

        <div class="row">
            <span class="span12"><strong>{{ company.name }}</strong></span>
        </div>
        <div class="row">
            <span class="span12"></span><span class="span8">{{ company.address }}</span>
        </div>
        <div class="row">
            <span class="span2">E-Posta:</span><span class="span3">{{ company.email|default_if_none:"" }}</span>
        </div>
        <div class="row">
            <span class="span2">Vergi Dairesi:</span><span class="span3">{{ company.vergidairesi|default_if_none:"" }}</span>
        </div>
        <div class="row">
            <span class="span2">Vergi No:</span><span class="span3">{{ company.vergino|default_if_none:"" }}</span>
        </div>
        <div class="row">
            <span class="span2">Tel:</span><span class="span3"><a href="tel:{{ company.phone }}">{{ company.phone }}</a></span>
        </div>
        <div class="row">
            <span class="span2">Fax:</span><span class="span3"><a href="tel:{{ company.fax }}">{{ company.fax }}</a></span>
        </div>
        <div class="row">
            <span class="span2">Limit:</span><span class="span8">{{ company.limit|tl }}</span>
        </div>
        <div class="row">
            <div class="pagination pagination-centered">
            <ul>
                {% if prev_page_no %}
                    <li><a href="?{{ queries.urlencode }}&page={{ prev_page_no}}">Önceki</a></li>
                {% else %}
                    <li class="disabled"><a href="#">Önceki</a></li>
                {% endif %}

                {% for num in paginator.page_range  %}
                    <li class="{% ifequal curr_page_no num %}active{% endifequal %}"><a href="?{{ queries.urlencode }}&page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% if next_page_no %}
                    <li><a href="?{{ queries.urlencode }}&page={{ next_page_no}}">Sonraki</a></li>
                {% else %}
                    <li class="disabled"><a href="#">Sonraki</a></li>
                {% endif %}
            </ul>
            </div>

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th style="width: 2%">No</th>
                    <th style="width: 10%">Oluşturulma</th>
                    <th class="right-aligned" style="width: 10%">Borç</th>
                    <th class="right-aligned" style="width: 10%">Alacak</th>
                    <th class="right-aligned" style="width: 10%">Toplam</th>
                    <th style="width: 5%">Tip</th>
                    <th>Not</th>
                    <th style="width: 10%">Değiştirilme</th>
                    <th style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                {% for line in lines %}
                    <tr class="{% if line.is_cancelled %}cancelled{% endif %}">
                        <td>{{ line.no }}</td>
                        <td>
                            {{ line.created_at|date:"d/m/Y" }}
                        </td>
                        <td class="right-aligned bold">{{ line.borc|tl }}</td>
                        <td class="right-aligned bold">{{ line.alacak|tl }}</td>
                        <td class="right-aligned bold">{{ line.total|tl }}</td>
                        <td>{{ line.get_tip_display}}</td>
                        <td>{{ line.note|default_if_none:'' }}</td>
                        <td>
                            {{ line.modified_at|date:"d/m/Y" }}
                        </td>
                        <td>
                            <a class="btn" href="{% url company-line-edit line.id %}"><i class="icon-edit"></i>Düzenle</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
