{% extends 'base.html' %}
{% load defter_filters %}
{% block content %}
    {% if letters %}
        {% for letter, value in letters %}
            <a class="btn" href="{% url company-list-letter letter %}">{{ value }}</a>
        {% endfor %}
    {% endif %}
    <div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th style="width: 10%">No</th>
                    <th>Adı</th>
                    <th class="right-aligned">Borç</th>
                    <th class="right-aligned">Alacak</th>
                    <th class="right-aligned">Limit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url company-detail company.id %}">{{ company.name }}</a></td>
                    <td class="right-aligned bold">{{ company.sum_borc|tl }}</td>
                    <td class="right-aligned bold">{{ company.sum_alacak|tl }}</td>
                    <td class="right-aligned bold">{{ company.limit|tl }}</td>
                    <td>
                       <a class="btn" href="{% url company-line-create company.id %}"><i class="icon-plus"></i>Kayıt Ekle</a>
                       <a class="btn" href="{% url company-edit company.id %}"><i class="icon-edit"></i>Değiştir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
