{% extends 'base.html' %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
     <p>Bu kaydı silmek istediğine emin misiniz?</p>
        <button type="submit" class="btn btn-primary">Evet</button>
        <a class="btn" href="{% url home %}">Hayır</a>
    </form>
{% endblock %}