{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <form method="POST" action="{{ form.action }}" autocomplete="off">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        {% csrf_token %}
        <label>Kullanıcı adı</label>
        <input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}"/>
        <label>Email</label>
        <input type="text" name="email" value="{{ form.email.value|default_if_none:'' }}"/>
        <label>Şifre</label>
        <input type="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}"/>
        <label>Şifre (tekrar)</label>
        <input type="password" name="password2" value="{{ form.password2.value|default_if_none:'' }}"/>

        <button type="submit" class="btn btn-primary">Oluştur</button>
        <a class="btn" href="{% url home %}">İptal</a>
    </form>
    </div>
{% endblock %}